<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>Login</title>
</head>
<body>
    <h2>LogIn</h2>
    <form action="/login" method="post">
        <input type="text" name="name" placeholder="Write UserName">
        <input type="password" name="password" placeholder="Password">
        <input type="submit">
    </form>
    <a href="/signup">Make Account</a>
</body>
</html>